<meta charset="UTF-8" />
<div class="edit-bg" edit-bg="">

    <div class="trave-header border-bot">
        <a onclick="api.routerGoBack()" class="back" ng-click="tarveBack()"><i class="iconfont icon-back"></i></a>
        <b>选择出游人</b>
        <a href="#/individualeditpeople"  ng-click="addtravePeople()"><em>添加出游人</em></a>
    </div>
    <div id="trave-wrapper" class="wrapper2">
        <div>
            <p class="choose-title ng-cloak"  ng-if="contacters.length>0">请选择<em>{{TotalPerson}}</em>位出游人</p>

            <!--出行人信息-->
            <div class="trave-people ng-cloak">
                <ul>
                    <li  ng-repeat="contactor in contacters"  individual-travel-people>
                        <dl>
                            <span class="choosing" ng-class="((SKU.TouristsInfo|iscontains:'1') &&contactor.CnName=='')||((SKU.TouristsInfo|iscontains:'2') &&contactor.FirstName=='')||((SKU.TouristsInfo|iscontains:'2')&&contactor.LastName=='')||((SKU.TouristsInfo|iscontains:'3')&&contactor.BirthTime=='')||((SKU.TouristsInfo|iscontains:'5')&&contactor.Phone=='')||((SKU.TouristsInfo|iscontains:'6')&&contactor.Nationality=='')||(SinglePaperType!=null&&SinglePaperType.length>0&&contactor.PaperInfos[0].PaperID=='0')||!(SinglePaperType!=null&&SinglePaperType.length>0&& SinglePaperType|jsoniscontains : 'name':contactor.papertype)?'disable':''">
                                <i class="iconfont icon-right-9"></i>
                            </span>
                            <p class="passenger">
                                <b class="name" ng-bind="contactor.CnName" paperid="{{contactor.ID}}"></b>
                                <b class="passport ng-hide">{{contactor.papertype}}：<em>{{contactor.paperinfo}}</em></b>
                            </p>
                        </dl>
                        <em ng-show="((SKU.TouristsInfo|iscontains:'1') &&contactor.CnName=='')||((SKU.TouristsInfo|iscontains:'2') &&contactor.FirstName=='')||((SKU.TouristsInfo|iscontains:'2')&&contactor.LastName=='')||((SKU.TouristsInfo|iscontains:'3')&&contactor.BirthTime=='')||((SKU.TouristsInfo|iscontains:'5')&&contactor.Phone=='')||((SKU.TouristsInfo|iscontains:'6')&&contactor.Nationality=='')||(SinglePaperType!=null&&SinglePaperType.length>0&&contactor.PaperInfos[0].PaperID=='0')||!(SinglePaperType!=null&&SinglePaperType.length>0&& SinglePaperType|jsoniscontains : 'name':contactor.papertype)" class="tips">(信息待完善)</em>
                        <a href="#/individualeditpeople" ng-click="toeditpeople(contactor.ID,contactor.PaperInfos[0].DomesticPaperType,contactor.PaperInfos[0].DeparturesPaperType)" class="right-a"><i class="iconfont edit icon-edit"></i></a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>


    <!-- 点击返回提示 -->
    <div class="payment-common-pop zHide" id="payment-common-pop" edit-choose>
        <div class="container">
            <div class="title"><i class="iconfont icon-tip"></i></div>
            <h4>温馨提示</h4>
            <div class="tips">
                <p class="cen">出游人尚未完成选择，返回将放弃选择。</p>
            </div>
            <div class="bottom border-top layout-box">
                <a class="cancel-btn son-box border-right" onclick="api.routerGoBack()">返回</a>
                <a class="ok-btn son-box active">继续选择</a>
            </div>
        </div>
    </div>

    <!--出游人为空-->
    <div class="no-traver zHide" id="notraverdiv">
        <div class="bg"></div>
        <p>暂无出游人，快去添加吧</p>
    </div>
    <div class="trave-add" ng-show="contacters.length>0">
        <a ng-click="chuxingrensave()" id="travefooter" class="trave-footer">完成</a>
        <a class="trave-footer disable" id="disabletravefooter">完成</a>
    </div>
</div>
<!--底部-添加联系人-->



<script type="text/javascript">
    childrenFunction.individualtravepeople();
</script>