<!DOCTYPE html>
<html ng-app='MyModule'>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<!-- UC默认竖屏 ，UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<meta name="browsermode" content="application">
	<!-- QQ强制竖屏 QQ强制全屏 -->
	<meta name="x5-orientation" content="portrait">
	<meta name="x5-fullscreen" content="true">
	<meta name="x5-page-mode" content="app">

	<meta name="keywords" content="私人定制旅游,定制旅游,高端旅游,定制旅行">
	<meta name="description" content="众信悠哉旅游提供高端私人定制旅游，专业定制旅游顾问按您的需求，为您1对1定制旅游方案，休闲游/度假游/购物游定制旅游高端旅行者的首要选择，享受专属你的私人旅行。
">
    <link href="../../../r03.uzaicdn.com/content/hybrid/styles/custom/base.css?v=20170816093907" rel="stylesheet">
    <link href="../../../r03.uzaicdn.com/content/hybrid/styles/custom/custom_orderlist.css?v=20170816093907" rel="stylesheet">
    <title>定制旅游-众信悠哉旅游</title>
</head>
<body ng-controller='MyCtrl'>
    <div class="content">
        <!-- 头部 -->
        <header class="bg-transparent white-topbar">
            <a ng-click="dingzhiurl()" class="fl top-back"><i class="left-ico black-ico"></i></a>
            <a target="_self" class="fr"></a>
            <div class="title"><h1>订单列表</h1></div>
        </header>
        <!-- 内容 -->
		
		<!-- 查看订单 -->
		<div class='look_other'>
            <a ng-click="openOrderList()" class=''>查看umini6订单</a>
        </div>
				
        <div id='wrapper'>
            <div class="main" when-scrolled="loadMore()">
                
                <div class='main_m color-{{value.Enable}}' ng-repeat='value in values' on-finish-render>
                    <a href='detail.html?orderid={{value.ID}}'>
                        <span class="t"></span>
                        <div class='main_m_top'>
                            <span class='right' ng-bind='value.State'></span>
                            <div class='left'>
                                <span class='ico'><img src='../../../r03.uzaicdn.com/content/hybrid/images/custom/title.png' /></span>
                                <span class='title_span'>定制旅游</span>
                            </div>
                        </div>
                        <h5 class='paddt10 paddb10 main_title' ng-bind="value.ProName"></h5>
                    </a>
                </div>
            </div>
        </div>
        <footer>
            <div class="con border-top">
                <a href="../home/index.html" class="index-btn"><i></i><span>首页</span></a>
                <a href="../order/index.html" class="custom-btn"><i></i><span>定制</span></a>
                <a href="" class="order-btn on"><i></i><span>订单</span></a>
            </div>
        </footer>
    </div>
    <script src="../../../r03.uzaicdn.com/content/libs/jquery-2.1.1.min.js?v=20170816093907"></script>
    <script src="../../../r03.uzaicdn.com/content/hybrid/scripts/common/font.js?v=20170816093907"></script>
    <script type="text/javascript" src="../../../r03.uzaicdn.com/content/libs/frame/angular/angular.min.js?v=20170816093907"></script>
    <script type="text/javascript" src="../../../r03.uzaicdn.com/content/hybrid/scripts/common/api.js?v=20170816093907"></script>
    <script src="../../../r03.uzaicdn.com/content/hybrid/scripts/custom/custom_orderlist.js?v=20170816093907"></script>
    <script src="../../../r03.uzaicdn.com/content/libs/plugin/iscroll/iscroll.js?v=20170816093907"></script>
    <script src="../../../r03.uzaicdn.com/content/hybrid/scripts/common/pagestatistics.js?v=20170816093907"></script>
</body>
</html>