<!DOCTYPE html>
<html ng-app="uzai" lang='zh-cn'>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="keywords" content="私人订制旅游,订制旅游,高端旅游,订制旅行">
    <meta name="description" content="">
    <script src="../../../r03.uzaicdn.com/content/hybrid/scripts/common/font.js?v=20170921183141"></script>
    <link href="../../../r03.uzaicdn.com/content/hybrid/styles/product/detail.css?v=20170921183141" rel="stylesheet">
    <link href="../../../r03.uzaicdn.com/content/hybrid/styles/vstore/addbutton.css?v=20170921183141" rel="stylesheet">
    <script src="../../../r03.uzaicdn.com/content/libs/jquery-2.1.1.min.js?v=20170921183141"></script>
    <script src=" ../../../r03.uzaicdn.com/content/libs/frame/angular/angular.min.js?v=20170921183141"></script>
  
    <title>众信悠哉旅游网</title>
</head>

<body ontouchstart="" ng-controller="content">
    <div class="detail-content">
        <!-- 此外,二级页面都是拉出来的那种效果 -->
        <div class="detail uzai-wrapper" id="wrapper">
            <!-- 头部 开始 -->
            <header class="white-topbar none ">
                <!-- 滑动的时候北京变由透明变实 -->
                <div class="con border-bot">
                    <a class="back fl" ng-click="goBack()"><i class="iconfont icon-back"></i></a>
                    <div class="fr">
                        <a class="share" ng-show="isApp" ng-click="SharaProduct(ProductInfo.ProductName,ProductInfo.ProductName, productImgUrl,ProductURL)"><i class="iconfont icon-share"></i></a>
                        <a class="more"><i class="iconfont icon-more"></i></a>
                    </div>
                    <div class="title">
                        <h1>{{ ProductInfo.CityName }}出发</h1>
                    </div>
                </div>
                <div class="more-list hide">
                    <ul>
                        <li><a ng-click="GoMyOrder()"><i class="iconfont icon-order"></i>我的订单</a></li>
                        <li ng-if="isApp"><a ng-click="GoMyFavorites()"><i class="iconfont icon-collection"></i>我的收藏</a></li>
                        <li ng-if="!isApp"><a class="history-show" ng-click="history_init()"><i class="iconfont icon-history"></i>浏览历史</a></li>
                        <li ng-if="isApp"><a ng-click="history_init_app()"><i class="iconfont icon-history"></i>浏览历史</a></li>
                        <li><a ng-click="GoIndex()"><i class="iconfont icon-home"></i>回到首页</a></li>
                    </ul>
                </div>
            </header>
            <!-- 行程头部 开始 滚动到相对应的位置才显示 -->
            <div class="trip-header hide">

            </div>
            <!-- 行程头部 结束 -->

            <!-- 头部 结束 -->
            <div class="wrapper-scroll">
                <!-- 头部背景 开始 -->
                <nav class="head-bg swiper-container-headbg">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide" ng-repeat="ProductImg in ProductImgs " find-head-bg>
                            <div ng-if="$index>0" class="swiper-lazy-preloader"></div>
                            <img ng-if="$index==0" ng-src="{{ ProductImg.ImgUrl }}" onerror="onerror=null;src='../../../r03.uzaicdn.com/content/hybrid/images/product/head-bg-default.png?v=2979150927'">
                            <img ng-if="$index>0" class="swiper-lazy" data-src="{{ ProductImg.ImgUrl }}" onerror="onerror=null;src='../../../r03.uzaicdn.com/content/hybrid/images/product/head-bg-default.png?v=2979150927'">
                        </li>
                    </ul>
                </nav>
                <!-- 此图有效果 -->
                <!-- 头部背景 结束 -->
                <!-- 详情 开始 -->
                <div class="main">
                    <div class="scroll-head">
                        <!-- 产品类型 -->
                        <div class="red-com-box">
                            <section class="com-box detail-type red-triangle">
                                <div class="title">
                                    <span>
                                        <i class="iconfont icon-flag "></i> <em ng-bind="Title"></em>
                                    </span>
                                </div>
                                <p class="number ng-cloak" ng-bind="'产品编号：'+ProductInfo.ProductCode"></p>
                                <p class="con-text" ng-bind-html="ProductInfo.ProductName | trustHtml"></p>
                                <div class="on-shelf" ng-if="ProductInfo.Enable==1 &&ProductInfo.IsAvailableTourDate==true">
                                    <div class="price-bot border-top">
                                        <p class="fl">
                                            <span class="price">¥ <i class="big ng-cloak" ng-bind="ProductInfo.BenefitedPrice"></i><em>起</em></span>
                                            <span class="gray-under ng-cloak" ng-bind="ProductInfo.Price">¥ </span>
                                            <span class="question-btn" ng-click="QuestionPop()"><i class="iconfont icon-question"></i></span>
                                        </p>
                                        <p class="fr" ng-if="ProductInfo.PayType ==0">此产品须确认有位</p>
                                        <p class="fr" ng-if="ProductInfo.PayType ==1">此产品可即时付款</p>
                                    </div>
                                    <div class="com-hr"><i class="l"></i><i class="r"></i></div>

                                    <div class="border-bot pub-tit" ng-show="ProductInfo.ProductBenefitInfo.Count>0">
                                        <span class="tit"><i class="iconfont icon-discount-m"></i>优惠活动</span>
                                        <a href="benefit.html?productid={{ProductInfo.ProductID}}" class="right-btn ng-cloak"><em ng-bind="ProductInfo.ProductBenefitInfo.Count"></em><i class="iconfont icon-right"></i></a>
                                    </div>
                                    
                                    <div class="discount-info ng-cloak" href="benefit.html?productid={{ProductInfo.ProductID}}">
                                        <p class="one-line" ng-repeat=" BenefitInfo in ProductInfo.ProductBenefitInfo.BenefitInfoList"><span class="btn">{{BenefitInfo.Title}}</span>{{BenefitInfo.Content}}</p>
                                    </div>
                                </div>
                                <div class="border-top off-shelf" ng-if="ProductInfo.Enable==0||ProductInfo.IsAvailableTourDate==false">此产品已下架</div>
                            </section>
                        </div>
                        <!-- 出行班期 开始 -->
                        <a ng-click="scheduleLink(ProductInfo.ProductID)" class="com-tit" ng-if="ProductInfo.Enable==1 &&ProductTourDates.length>0 &&ProductInfo.IsAvailableTourDate==true">出行班期<span class="right-btn"><i class="iconfont icon-calendar"></i><i class="iconfont icon-right"></i></span><i class="round-ico"></i></a>
                        <section class="com-box schedule" ng-if="ProductInfo.Enable==1 &&ProductTourDates.length>0&&ProductInfo.IsAvailableTourDate==true">
                            <ul class="over-scroll-x">
                                <li ng-repeat="ProductTourDate in ProductTourDates" find-schedule>
                                    <div class="c-box" ng-click="scheduleLink(ProductInfo.ProductID,ProductTourDate.JumpTourDate)">
                                        <!-- calendar.html?productid={{ProductInfo.ProductID}}&seldate={{ProductTourDate.JumpTourDate}} -->
                                            <span class="tit">
                                                <em ng-if="ProductTourDate.AvailableStock>=9">充足</em>
                                                <em ng-if="ProductTourDate.AvailableStock>=2&&ProductTourDate.AvailableStock<=8" ng-bind="'剩余'+ProductTourDate.AvailableStock"></em>
                                                <em ng-if="ProductTourDate.AvailableStock>0&&ProductTourDate.AvailableStock<=1" ng-bind="'紧张'"></em>
                                                <em ng-if="ProductTourDate.AvailableStock<=0&&ProductInfo.SupplierFlag!='008'">&nbsp;</em>
                                            </span>
                                        <span class="con" ng-bind="ProductTourDate.TourDate"></span>
                                        <span class="con" ng-bind="ProductTourDate.WeekName"></span>
                                        <span class="red" ng-bind="'¥'+ProductTourDate.AdultPrice"></span>
                                        <p class="bot" ng-bind="ProductTourDate.JouneryName +'行程'"></p>
                                    </div>
                                </li>

                            </ul>
                        </section>
                        <!-- 出行班期 结束 -->
                        <!-- 产品推荐理由,只有国内和周边有此模块 -->
                        <nav class="com-tit" ng-if="(ProductInfo.UzaiTravelClassID==2||ProductInfo.UzaiTravelClassID==3)&&ProductInfo.TuiJian!=''">产品推荐理由<i class="round-ico"></i></nav>
                        <div class="com-box recommend" ng-if="(ProductInfo.UzaiTravelClassID==2||ProductInfo.UzaiTravelClassID==3)&&ProductInfo.TuiJian!=''" find-recommend>
                            <div class="box three-line">
                                <p ng-bind-html="ProductInfo.TuiJian | trustHtml">
                                </p>
                            </div>
                            <a class="more-btn j-show-more"><i class="iconfont icon-bottom"></i></a>
                        </div>

                        <nav class="com-tit">行程介绍<i class="round-ico"></i></nav>

                    </div>
                    <!-- 周边产品的行程介绍 开始 -->
                    <!--<nav class="com-tit" ng-if="ProductInfo.UzaiTravelClassID==3">行程介绍<i class="round-ico"></i></nav>-->
                    <div ng-class="JouneryGroups.length>1? 'red-com-box trip periphery':'trip periphery'" ng-if="ProductInfo.UzaiTravelClassID==3">
                        <section ng-repeat="JouneryGroupInfo in JouneryGroups" ng-class="$index == 0? 'wrap-box':'wrap-box hide'" find-trip-center>
                            <div class="com-box">
                                <div class="tit-ls border-bot wrap-list-two">
                                    <ul class="layout-box">
                                        <li class="wrap-two highlights son-box" ng-show="JouneryGroupInfo.ProductFeatures!=''|| JouneryGroupInfo.ProductFeaturesList.length>0"><span class="tit">产品特色</span><i></i></li>
                                        <li class="wrap-two days son-box on"><span class="tit">{{JouneryGroupInfo.Days}}日行程</span><i></i></li>
                                        <li class="wrap-two description son-box" ng-show="JouneryGroupInfo.CostInclude !='' ||JouneryGroupInfo.CostNotInclude !=''"><span class="tit">费用须知</span><i></i></li>
                                    </ul>
                                </div>

                                <!-- 产品特色 -->
                                <div class="wrap-box-two hide highlights-info">
                                    <div ng-if="JouneryGroupInfo.ProductFeatures!=''" ng-bind-html="JouneryGroupInfo.ProductFeatures | trustHtml"></div>
                                    <div class="iframe-box" ng-if="JouneryGroupInfo.ProductFeaturesList.length>0">
                                        <div class="box" ng-repeat="ProductFeatures in JouneryGroupInfo.ProductFeaturesList">
                                            <div class="part">
                                                <div class="tit" ng-if="ProductFeatures.Title1!=null &&ProductFeatures.Title1!=''" ng-bind="ProductFeatures.Title1"></div>
                                                <div class="con" ng-if="ProductFeatures.Content1!=null &&ProductFeatures.Content1!=''" ng-bind-html="ProductFeatures.Content1 | trustHtml" ></div>
                                            </div>
                                            <div class="part">
                                                <div class="tit" ng-if="ProductFeatures.Title2!=null &&ProductFeatures.Title2!=''" ng-bind="ProductFeatures.Title2"></div>
                                                <div class="con" ng-if="ProductFeatures.Content2!=null &&ProductFeatures.Content2!=''" ng-bind-html="ProductFeatures.Content2 | trustHtml" ></div>
                                            </div>
                                            <img ng-if="ProductFeatures.ImgUrl1!=''" ng-src="{{ ProductFeatures.ImgUrl1 }} " />
                                            <img ng-if="ProductFeatures.ImgUrl2!=''" ng-src="{{ ProductFeatures.ImgUrl2 }} " />
                                            <img ng-if="ProductFeatures.ImgUrl3!=''" ng-src="{{ ProductFeatures.ImgUrl3 }} " />
                                        </div>
                                    </div>
                                </div>

                                <!-- 14日行程 -->
                                <div class="wrap-box-two days-info">
                                    <div class="list">
                                        <div class="part" ng-repeat="Detail in JouneryGroupInfo.JouneryDetail">
                                            <p class="day-tit">
                                                <i class="iconfont icon-calendar"></i>第 {{Detail.Days}} 天
                                                <a class="fr" ng-click="Shopping_init(JouneryGroupInfo.UzaiJouneryGroupID,Detail.JouneryDetailID)" ng-show="Detail.JouneryShopping.length>0"
                                                   href="#/shoppinginformation"><i class="iconfont icon-shopping"></i><span>查看购物信息</span></a>
                                            </p>
                                            <p class="tit"><span><em ng-repeat="ProductTravelType in Detail.ProductTravelTypes">{{ProductTravelType.TreeName}}<i class="iconfont icon-vehicle-{{ProductTravelType.Type}}" ng-show="!$last"></i></em></span></p>
                                            <div class="img-list swiper-container-periphery" ng-show="Detail.JouneryImgInfo.length>0">
                                                <ul class="swiper-wrapper">
                                                    <li class="swiper-slide" ng-repeat="ImgInfo in Detail.JouneryImgInfo ">
                                                        <div class="swiper-lazy-preloader"></div>
                                                        <img class="swiper-lazy" data-self="{{ImgInfo.ImgUrl}}" src="" onerror="onerror=null;src='../../../r03.uzaicdn.com/content/hybrid/images/product/trip-default.jpg?v=1183532874'">
                                                        <p>{{ImgInfo.TreeName}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <p class="text" ng-show="Detail.StartTime!='00:00' &&Detail.EndTime!='23:00'"><i class=" iconfont icon-timeon"></i><em>{{Detail.StartTime}} --- {{Detail.EndTime}}</em></p>
                                            <p class="text"><i class="iconfont icon-meal"></i><span>早餐: <em>{{Detail.Breakfast}}</em></span><span>午餐: <em>{{Detail.HaveLunch}}</em></span><span>晚餐: <em>{{Detail.Dinner}}</em></span></p>
                                            <p class="text"><i class="iconfont icon-hotel"></i>特色酒店_参考酒店: <em>{{Detail.HotelList}}</em></p>
                                            <div class="box five-line border-top">
                                                <p ng-bind-html="Detail.Content | trustHtml"></p>
                                            </div>
                                            <a class="more-btn j-show-more"><i class="iconfont icon-bottom"></i></a>
                                        </div>

                                    </div>

                                    <div class="bus-info" ng-show="ProductInfo.JouneryCarInfo.length>0">
                                        <i class="iconfont icon-bus"></i>
                                        <p class="ls"><label class="name">发车时间:</label><span class="con">{{ProductInfo.JouneryCarInfo[0].DepartureTime}}</span></p>
                                        <p class="ls"><label class="name">发车地点:</label><span class="con">{{ProductInfo.JouneryCarInfo[0].StartingPlace}}</span></p>
                                        <p class="ls"><label class="name">返回地点:</label><span class="con">{{ProductInfo.JouneryCarInfo[0].ReturnLocation}}</span></p>
                                        <p class="ls"><label class="name">导<em class="two"></em>游<em class="two"></em>旗:</label><span class="con">{{ProductInfo.JouneryCarInfo[0].TourGuide}}</span></p>
                                        <p class="ls"><label class="name">备<em class="one"></em>注:</label><span class="con">{{ProductInfo.JouneryCarInfo[0].Remarks}}</span></p>
                                        <a href="#/boradlocation" class="trip-info" ng-show="ProductInfo.JouneryCarInfo.length>1">更多上车地点</a>
                                    </div>

                                </div>

                                <!-- 费用说明 -->
                                <div class="wrap-box-two hide description-info">
                                    <div class="trip-ls-tit" ng-show="JouneryGroupInfo.CostInclude!=''"><span><i class="iconfont icon-costnotinclude"></i>费用包含</span></div>
                                    <div class="trip-ls none" ng-show="JouneryGroupInfo.CostInclude!=''" ng-bind-html="JouneryGroupInfo.CostInclude | trustHtml">

                                    </div>

                                    <div class="trip-ls-tit margin-hr border-top" ng-show="JouneryGroupInfo.CostNotInclude!=''"><span><i class="iconfont icon-costnotincludes"></i>费用不包含</span></div>
                                    <div class="trip-ls none" ng-show="JouneryGroupInfo.CostNotInclude!=''" ng-bind-html="JouneryGroupInfo.CostNotInclude | trustHtml">

                                    </div>
                                </div>
                            </div>
                            <div class="list-con">
                                <!--<a href="#/costdecription" class="com-box cost-btn" ng-show="ProductInfo.Baohan!=''||ProductInfo.NOBaohan!=''"><i class=" iconfont icon-cost"></i>费用说明<span class="right-btn iconfont icon-right"></span></a>-->

                                <a href="#/ownitemjounery" ng-click="PurchaseNotice_init(JouneryGroupInfo.UzaiJouneryGroupID)" class="com-box ownpay-btn"
                                   ng-show="JouneryGroupInfo.Expense!=''"><i class="iconfont icon-ownpay"></i>自费项目说明<span class="right-btn iconfont icon-right"></span></a>

                                <a href="#/purchasenoticejounery" ng-click="PurchaseNotice_init(JouneryGroupInfo.UzaiJouneryGroupID)" ng-show="JouneryGroupInfo.Additional !='' ||JouneryGroupInfo.Service !='' ||JouneryGroupInfo.Shopping !='' ||JouneryGroupInfo.InforMation !='' "
                                   class="com-box buyinfo-btn"><i class="iconfont icon-booking-notice"></i>购买须知<span class="right-btn iconfont icon-right"></span></a>
                            </div>

                        </section>
                    </div>
                    <!-- 周边产品的行程介绍 结束 -->
                    <!-- 国内产品的行程介绍 开始 -->
                    <!--<nav class="com-tit" ng-if="ProductInfo.UzaiTravelClassID==2">行程介绍<i class="round-ico"></i></nav>-->
                    <div ng-if="ProductInfo.UzaiTravelClassID==2" ng-class="JouneryGroups.length>1? 'red-com-box trip periphery':'trip periphery'">
                        <div class="red-bg wrap-list" ng-show="JouneryGroups.length>1">

                            <ul class="red-bg-ul">
                                <li ng-class="$index == 0? 'on red-bg-li':'red-bg-li' " ng-repeat="JouneryGroup in JouneryGroups" find-trip ><span class="red-bg-span">{{JouneryGroup.JouneryName}}行程</span></li>
                            </ul>

                        </div>
                        <section ng-repeat="JouneryGroupInfo in JouneryGroups" ng-class="$index == 0? 'wrap-box':'wrap-box hide'" find-trip-center>
                            <div class="com-box">
                                <div class="tit-ls border-bot wrap-list-two">
                                    <ul class="layout-box">
                                        <li class="wrap-two highlights son-box" ng-show="JouneryGroupInfo.ProductFeatures!=''|| JouneryGroupInfo.ProductFeaturesList.length>0"><span class="tit">产品特色</span><i></i></li>
                                        <li class="wrap-two days son-box on"><span class="tit">{{JouneryGroupInfo.Days}}日行程</span><i></i></li>
                                        <li class="wrap-two description son-box" ng-show="JouneryGroupInfo.CostInclude !='' ||JouneryGroupInfo.CostNotInclude !=''"><span class="tit">费用须知</span><i></i></li>
                                    </ul>
                                </div>

                                <!-- 产品特色 -->
                                <div class="wrap-box-two hide highlights-info">
                                    <div ng-if="JouneryGroupInfo.ProductFeatures!=''" ng-bind-html="JouneryGroupInfo.ProductFeatures | trustHtml"></div>
                                    <div class="iframe-box" ng-if="JouneryGroupInfo.ProductFeaturesList.length>0">
                                        <div class="box" ng-repeat="ProductFeatures in JouneryGroupInfo.ProductFeaturesList">
                                            <div class="part">
                                                <div class="tit" ng-if="ProductFeatures.Title1!=null &&ProductFeatures.Title1!=''" ng-bind="ProductFeatures.Title1"></div>
                                                <div class="con" ng-if="ProductFeatures.Content1!=null &&ProductFeatures.Content1!=''" ng-bind-html="ProductFeatures.Content1 | trustHtml"></div>
                                            </div>
                                            <div class="part">
                                                <div class="tit" ng-if="ProductFeatures.Title2!=null &&ProductFeatures.Title2!=''" ng-bind="ProductFeatures.Title2"></div>
                                                <div class="con" ng-if="ProductFeatures.Content2!=null &&ProductFeatures.Content2!=''" ng-bind-html="ProductFeatures.Content2 | trustHtml"></div>
                                            </div>
                                            <img ng-if="ProductFeatures.ImgUrl1!=''" ng-src="{{ ProductFeatures.ImgUrl1 }} " />
                                            <img ng-if="ProductFeatures.ImgUrl2!=''" ng-src="{{ ProductFeatures.ImgUrl2 }} " />
                                            <img ng-if="ProductFeatures.ImgUrl3!=''" ng-src="{{ ProductFeatures.ImgUrl3 }} " />
                                        </div>
                                    </div>
                                </div>

                                <!-- 14日行程 -->
                                <div class="wrap-box-two days-info">
                                    <div class="com-box">
                                        <div class="top">
                                            <p><label class="fl">行程天数：</label> <span class="red">{{JouneryGroupInfo.Days}}天{{JouneryGroupInfo.Nights}}晚</span></p>
                                            <p>
                                                <label class="fl">适用团期：</label> <span class="red two-line">{{JouneryGroupInfo.JouneryDateList}}</span>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="list">
                                        <div class="part" ng-repeat="Detail in JouneryGroupInfo.JouneryDetail">
                                            <p class="day-tit">
                                                <i class="iconfont icon-calendar"></i>第 {{Detail.Days}} 天
                                                <a class="fr" ng-click="Shopping_init(JouneryGroupInfo.UzaiJouneryGroupID,Detail.JouneryDetailID)" ng-show="Detail.JouneryShopping.length>0"
                                                   href="#/shoppinginformation"><i class="iconfont icon-shopping"></i><span>查看购物信息</span></a>
                                            </p>
                                            <p class="tit"><span><em ng-repeat="ProductTravelType in Detail.ProductTravelTypes">{{ProductTravelType.TreeName}}<i class="iconfont icon-vehicle-{{ProductTravelType.Type}}" ng-show="!$last"></i></em></span></p>
                                            <p class="text" ng-show="Detail.StartTime!='00:00' &&Detail.EndTime!='23:00'"><i class=" iconfont icon-timeon"></i><em>{{Detail.StartTime}} --- {{Detail.EndTime}}</em></p>
                                            <p class="text"><i class="iconfont icon-meal"></i><span>早餐: <em>{{Detail.Breakfast}}</em></span><span>午餐: <em>{{Detail.HaveLunch}}</em></span><span>晚餐: <em>{{Detail.Dinner}}</em></span></p>
                                            <p class="text"><i class="iconfont icon-hotel"></i>特色酒店_参考酒店: <em>{{Detail.HotelList}}</em></p>
                                            <div class="box five-line border-top">
                                                <p ng-bind-html="Detail.Content | trustHtml"></p>
                                            </div>
                                        </div>

                                    </div>

                                    <a href="#/traveldetail" ng-click="JouneryInfo_init(JouneryGroupInfo.UzaiJouneryGroupID)" class="trip-info"><i class="iconfont icon-daohangxianlu"></i>详细行程<i class="iconfont icon-right"></i></a>
                                </div>

                                <!-- 费用说明 -->
                                <div class="wrap-box-two hide description-info">
                                    <div class="trip-ls-tit" ng-show="JouneryGroupInfo.CostInclude!=''"><span><i class="iconfont icon-costnotinclude"></i>费用包含</span></div>
                                    <div class="trip-ls none" ng-show="JouneryGroupInfo.CostInclude!=''" ng-bind-html="JouneryGroupInfo.CostInclude | trustHtml">

                                    </div>

                                    <div class="trip-ls-tit margin-hr border-top" ng-show="JouneryGroupInfo.CostNotInclude!=''"><span><i class="iconfont icon-costnotincludes"></i>费用不包含</span></div>
                                    <div class="trip-ls none" ng-show="JouneryGroupInfo.CostNotInclude!=''" ng-bind-html="JouneryGroupInfo.CostNotInclude | trustHtml">

                                    </div>
                                </div>

                            </div>
                            <div class="list-con">
                                <!--<a href="#/costdecription" class="com-box cost-btn" ng-show="ProductInfo.Baohan!=''||ProductInfo.NOBaohan!=''"><i class=" iconfont icon-cost"></i>费用说明<span class="right-btn iconfont icon-right"></span></a>-->

                                <a href="#/ownitemjounery" ng-click="PurchaseNotice_init(JouneryGroupInfo.UzaiJouneryGroupID)" class="com-box ownpay-btn"
                                   ng-show="JouneryGroupInfo.Expense!=''"><i class="iconfont icon-ownpay"></i>自费项目说明<span class="right-btn iconfont icon-right"></span></a>

                                <a href="#/purchasenoticejounery" ng-click="PurchaseNotice_init(JouneryGroupInfo.UzaiJouneryGroupID)" ng-show="JouneryGroupInfo.Additional !='' ||JouneryGroupInfo.Service !='' ||JouneryGroupInfo.Shopping !='' ||JouneryGroupInfo.InforMation !='' "
                                   class="com-box buyinfo-btn"><i class="iconfont icon-booking-notice"></i>购买须知<span class="right-btn iconfont icon-right"></span></a>
                            </div>
                        </section>
                    </div>
                    <!-- 国内产品的行程介绍 结束 -->
                    <!-- 出境产品的行程介绍 开始 -->
                    <!--<nav class="com-tit" ng-if="ProductInfo.UzaiTravelClassID==1">行程介绍<i class="round-ico"></i></nav>-->
                    <div ng-if="ProductInfo.UzaiTravelClassID==1" ng-class="JouneryGroups.length>1? 'red-com-box trip ':'trip '">
                        <div class="red-bg" ng-show="JouneryGroups.length>1">

                            <ul class="red-bg-ul">
                                <li ng-class="$index == 0? 'on red-bg-li':'red-bg-li' " ng-repeat="JouneryGroup in JouneryGroups" find-trip ><span class="red-bg-span">{{JouneryGroup.JouneryName}}行程</span></li>

                            </ul>

                        </div>
                        <section ng-repeat="JouneryGroupInfo in JouneryGroups" ng-class="$index == 0? 'wrap-box':'wrap-box hide'" find-trip-center>
                            <div class="com-box">
                                <div class="tit-ls border-bot wrap-list-two">
                                    <ul class="layout-box">
                                        <li class="wrap-two highlights son-box " ng-show="JouneryGroupInfo.Highlights !=''"><span class="tit">行程亮点</span><i></i></li>
                                        <li class="wrap-two days son-box on"><span class="tit">{{JouneryGroupInfo.Days}}日行程</span><i></i></li>
                                        <li class="wrap-two description son-box" ng-show="JouneryGroupInfo.CostInclude !='' ||JouneryGroupInfo.CostNotInclude !=''"><span class="tit">费用须知</span><i></i></li>
                                    </ul>
                                </div>

                                <!-- 行程亮点 -->
                                <div class="wrap-box-two hide highlights-info" ng-bind-html="JouneryGroupInfo.Highlights | trustHtml">

                                </div>

                                <!-- 14日行程 -->
                                <div class="wrap-box-two days-info">
                                    <div class="com-box">
                                        <div class="top">
                                            <p><label class="fl">行程天数：</label> <span class="red">{{JouneryGroupInfo.Days}}天{{JouneryGroupInfo.Nights}}晚</span></p>
                                            <p>
                                                <label class="fl">适用团期：</label> <span class="red two-line">{{JouneryGroupInfo.JouneryDateList}}</span>
                                            </p>
                                        </div>
                                        <div class="bot" ng-show="Productinfo.SupplierFlag=='008'">（由于部分城市无法提供国际航班服务，本次行程需从{{ ProductInfo.CityName }}出发）</div>
                                    </div>
                                    <div class="list">
                                        <div class="part" ng-repeat="Detail in JouneryGroupInfo.JouneryDetail">
                                            <p class="day-tit"><i class="iconfont icon-calendar"></i>第 {{Detail.Days}} 天</p>
                                            <p class="tit"><span><em ng-repeat="ProductTravelType in Detail.ProductTravelTypes">{{ProductTravelType.TreeName}}<i class="iconfont icon-vehicle-{{ProductTravelType.Type}}" ng-show="!$last"></i></em></span></p>
                                            <div class="five-line text" ng-bind-html="Detail.Content | trustHtml"></div>
                                        </div>

                                    </div>
                                    <a href="#/traveldetail" class="trip-info" ng-click="JouneryInfo_init(JouneryGroupInfo.UzaiJouneryGroupID)"><i class="iconfont icon-daohangxianlu"></i>详细行程<i class="iconfont icon-right"></i></a>
                                </div>

                                <!-- 费用说明 -->
                                <div class="wrap-box-two hide description-info">
                                    <div class="trip-ls-tit" ng-show="JouneryGroupInfo.CostInclude!=''"><span><i class="iconfont icon-costnotinclude"></i>费用包含</span></div>
                                    <div class="trip-ls none" ng-show="JouneryGroupInfo.CostInclude!=''" ng-bind-html="JouneryGroupInfo.CostInclude | trustHtml">

                                    </div>

                                    <div class="trip-ls-tit margin-hr border-top" ng-show="JouneryGroupInfo.CostNotInclude!=''"><span><i class="iconfont icon-costnotincludes"></i>费用不包含</span></div>
                                    <div class="trip-ls none" ng-show="JouneryGroupInfo.CostNotInclude!=''" ng-bind-html="JouneryGroupInfo.CostNotInclude | trustHtml">

                                    </div>
                                </div>


                            </div>

                            <div class="list-con">
                                <!--<a href="#/costdecription" class="com-box cost-btn" ng-show="ProductInfo.Baohan!=''||ProductInfo.NOBaohan!=''"><i class=" iconfont icon-cost"></i>费用说明<span class="right-btn iconfont icon-right"></span></a>-->

                                <a href="#/ownitemjounery" ng-click="PurchaseNotice_init(JouneryGroupInfo.UzaiJouneryGroupID)" class="com-box ownpay-btn"
                                   ng-show="JouneryGroupInfo.Expense!=''"><i class="iconfont icon-ownpay"></i>自费项目说明<span class="right-btn iconfont icon-right"></span></a>
                                <a href="#/purchasenoticejounery" ng-click="PurchaseNotice_init(JouneryGroupInfo.UzaiJouneryGroupID)" class="com-box buyinfo-btn"
                                   ng-show="JouneryGroupInfo.Additional !='' ||JouneryGroupInfo.Service !='' ||JouneryGroupInfo.Shopping !='' ||JouneryGroupInfo.InforMation !='' "><i class="iconfont icon-booking-notice"></i>购买须知<span class="right-btn iconfont icon-right"></span></a>
                                <a href="#/visa" class="com-box buyinfo-btn" ng-if="JouneryGroupInfo.VisaInfo !=''" ng-click="VisaExtendUrl_init(JouneryGroupInfo.UzaiJouneryGroupID)">
                                    <i class="iconfont icon-visainfo"></i>签证信息<span class="right-btn iconfont icon-right"></span>
                                </a>
                            </div>

                        </section>
                    </div>
                    <!-- 出境产品的行程介绍 结束 -->
                    <!-- 只有出境是三个,其他的详情只有费用说明和购买须知 -->
                    <div class="list-con">
                        <a href="#/ownitem" class="com-box ownpay-btn" ng-if="ProductInfo.Selfpay.length>0">
                            <i class="iconfont icon-ownpay"></i>自费项目说明<span class="right-btn iconfont icon-right"></span>
                        </a>
                        <a href="#/purchasenotice" class="com-box buyinfo-btn" ng-if="ProductInfo.Important !=''">
                            <i class="iconfont icon-booking-notice"></i>购买须知<span class="right-btn iconfont icon-right"></span>
                        </a>

                    </div>
                    <!-- 线路点评 -->
                    <section class="com-box comment">
                        <a class="pub-tit" ng-show="TalkBackInfos.talkList.length ==0">
                            <span class="tit"><i class="iconfont icon-comment"></i>线路点评</span>

                            <span class="right-btn">暂无点评</span>
                        </a>
                        <a href="#/linereviews" class="border-bot pub-tit" ng-show="TalkBackInfos.talkList.length>0">
                            <span class=" tit">
                                <i class="iconfont icon-comment"></i>线路点评
                            </span>
                            <span class="right-btn" ng-show="TalkBackInfos.talkList.length>0">更多点评<i class="iconfont icon-right"></i></span>
                        </a>

                        <div class="box">
                            <div class="part" ng-repeat="TalkBackInfo in TalkBackInfos.talkList" find-comment-img>
                                <div class="head layout-box">
                                    <div class="photo son-box">
                                        <div class="img">
                                            <img ng-src="{{TalkBackInfo.HeadUrl}}" src="" onerror="onerror=null;src='../../../r03.uzaicdn.com/content/hybrid/images/product/pho-default.png?v=1505188845'"><i>{{TalkBackInfo.UserGradeName}}</i>
                                        </div>
                                        <!-- onerror="this.src='../../../r03.uzaicdn.com/content/hybrid/images/product/pho-default.png?v=1505188845'" -->
                                        <div class="info">
                                            <span>{{TalkBackInfo.UzaiOrderUserName}}</span>
                                            <span><i class="iconfont icon-time"></i>{{TalkBackInfo.editDate}}</span>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <i class="iconfont {{TalkBackInfo.UsrComentWayClass}}"></i>满意度<em class="num">{{TalkBackInfo.UsrSatisfactionRate}}</em>
                                    </div>
                                </div>
                                <p class="text three-line">{{TalkBackInfo.TalkBackSummary}}</p>

                                <!-- 此处图片手动轮播 点击能看大图  查看大图的时候  也要能切换 -->
                                <div class="img-ls swiper-container-comment">
                                    <ul class="swiper-wrapper j-img-show">
                                        <li class="swiper-slide" ng-repeat=" imginfo in TalkBackInfo.CommentImages" find-comment-pop>
                                            <div class="swiper-lazy-preloader"></div>
                                            <img class="img-lazy swiper-lazy" data-src="" data-self="{{ imginfo.Images }}" src="" data-large="{{imginfo.LargeImages}}" onerror="onerror=null;src='../../../r03.uzaicdn.com/content/hybrid/images/product/comment-default.jpg?v=2667308010'">
                                        </li>
                                    </ul>
                                </div>

                                <div class="bot"><i class="iconfont icon-praise"></i><span class="btn" ng-if="TalkBackInfo.TalkBackStay!=null" ng-bind="TalkBackInfo.TalkBackStay"></span><span class="btn">{{TalkBackInfo.TalkBackTraffic}}</span><span class="btn">{{TalkBackInfo.TalkBackCustomerService}}</span><span class="btn">{{TalkBackInfo.TalkBackGuide}}</span></div>
                            </div>

                        </div>

                    </section>
                </div>
                <!-- 详情 结束 -->

            </div>
            <!-- 底部 开始 -->
            <footer id="productfooter">
                <div class="border-top">
                    <a class="collection" ng-show="IsAlreadytFavorites==0" ng-click="AddFavorites()"><i class="iconfont icon-collection"></i><span>收藏</span></a>
                    <a class="collection" ng-show="IsAlreadytFavorites==1" ng-click="CancelFavorites()"><i class="iconfont icon-collection on"></i><span>已收藏</span></a>
                    <a class="phone" id="mPhone" href="tel:{{Telephone}}"><i class="iconfont icon-telphone"></i><span>电话咨询</span></a>
                    <a class="phone j-uzai-meiqia" ng-show="zaixiankefu==true"><i class="iconfont icon-zixun"></i><span>在线咨询</span></a>      
                    <a class="reservation-btn" ng-show="ProductInfo.Enable==1 &&ProductInfo.IsAvailableTourDate==true" href="calendar.html?productid={{ProductInfo.ProductID}}">立即预订</a>
                    <a class="reservation-btn disable " ng-show="ProductInfo.Enable==0 ||ProductInfo.IsAvailableTourDate==false">已下架</a>
                </div>
            </footer>
            <!-- 底部 结束 -->

            <!-- 微店底部 开始 -->
            <div id="vstorefooter" class="hide">
                <div class="vstore-search-btn">
                    <span><i class="iconfont icon-tianjia1"></i></span><b>添加产品</b>
                    <!--<span><i class="iconfont icon-shanchu1"></i></span><b>删除产品</b>-->
        </div>

                <footer class="vstore-footer">
                    <div class="border-top">
                        <a class="phone" id="vdPhone" href="tel:{{Telephone}}"><i class="iconfont icon-telphone"></i><span>咨询</span></a>
                        <a class="mendian" href="https://vd.uzai.com/?vstoreid={{Vstoreid}}"><i class=" iconfont icon-mendian"></i><span>店铺</span></a>
                        <a class="reservation-btn" ng-show="ProductInfo.Enable==1 &&ProductInfo.IsAvailableTourDate==true" href="calendar.html?productid={{ProductInfo.ProductID}}&&vstoreid={{Vstoreid}}">立即预订</a>
                        <a class="reservation-btn disable " ng-show="ProductInfo.Enable==0 ||ProductInfo.IsAvailableTourDate==false">已下架</a>
                    </div>
                </footer>

            </div>
       
            <!-- 微店底部 结束 -->

        </div>
        <!-- 返回 开始 -->
        <a class="back-top hide iconfont icon-backtop"></a>
        <!-- 返回 结束 -->
        <!-- 线路点评图片放大 开始 -->
        <div class="img-view">
            <div class="content">
                <div class="num">
                    <span>&lt;<em><i class="number">1</i>/<i class="sumnumber"></i></em>&gt;</span>
                </div>
                <div class="box swiper-container-Showimg">
                    <ul class="swiper-wrapper"></ul>
                </div>
                <a class="close-btn"><i class="iconfont icon-close"></i></a>
            </div>
        </div>
        <!-- 线路点评图片放大 结束 -->
        <!-- 浏览历史 开始 -->
        <div class="history-view common-view">
            <header class="white-topbar">
                <div class="con">
                    <a class="back fl"><i class="iconfont icon-back close-btn"></i></a>
                    <div class="title">
                        <h1>浏览历史</h1>
                    </div>
                </div>
            </header>
            <!-- 未登录 开始 -->
            <div class="history-login" ng-show="needLogin">
                <div class="top">
                </div>
                <p>
                    查看浏览历史需要先登录哦
                </p>
                <a class="red-btn" ng-click="goLoginIn()">去登录</a>
            </div>
            <!-- 未登录 结束 -->
            <!-- 暂无数据 开始 -->
            <div class="history-none" ng-show="!needLogin && scanRecordsList.length<=0">
                <div class="top">
                </div>
                <p>
                    暂无数据
                </p>
            </div>
            <!-- 暂无数据 结束 -->
            <div id="historywrapper" class="redscorll" ng-show="!needLogin && scanRecordsList.length>0">
                <div class="content wrapper-scroll">
                    <div class="part" ng-repeat="scanPro in scanRecordsList" ng-click="GoProductDetail(scanPro.ProductID,scanPro.UzaiTravelClassID,scanPro.ProductType)"
                         find-history>
                        <img data-src="{{scanPro.ProductPicURL}}">
                        <div class="txt">
                            <p class="tit">
                                <span><i class="iconfont icon-address"></i>{{scanPro.CityName}}出发</span>
                            </p>
                            <p class="text">
                                <a class="two-line" ng-bind-html="scanPro.ProductName|trustHtml">
                                </a>
                            </p>
                            <p class="bot border-top">
                                ¥<i ng-bind="scanPro.ProductPrice"></i><em>起</em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 浏览历史 结束 -->
        <!-- 起价说明 开始 -->
        <!--遮罩层-->
        <div class="cal-mask hide"></div>
        <!--弹窗内容-->
        <div id="cal-pop" class="payment-common-pop hide">
            <div class="container">
                <div class="title"><i class="iconfont icon-cost"></i></div>
                <h4>起价说明</h4>
                <div class="tips">
                    <div class="price-tit">
                        <p>{{ProductInfo.TourDate}}出发，成人悠哉价为<em class="red">{{ProductInfo.Price}}</em>元</p>
                        <p>优惠价<em class="red">{{ProductInfo.BenefitedPrice}}</em>=成人价{{ProductInfo.Price}}-网订立减{{ProductInfo.BenefitPrice}}</p>
                    </div>
                    <p>本起价是可选出发日期中，按2人出行共住一间房核算的最低单人价格。产品价格会根据您所选择的出发日期、出行人数、入住酒店房型、航班或交通以及所选附加服务的不同而有所差别。</p>
                </div>
            </div>
            <i class="icon-guanbi iconfont"></i>
        </div>
        <!-- 起价说明 结束 -->
    </div>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js?v=20170921183141"></script>
    <script src="../../../r03.uzaicdn.com/content/hybrid/scripts/common/api.js?v=20170921183141"></script>
    <script src="../../../r03.uzaicdn.com/content/hybrid/scripts/common/app-bridge.js?v=20170921183141"></script>
    <script src="../../../r03.uzaicdn.com/content/libs/plugin/swiper/swiper-3.3.1.min.js?v=20170921183141"></script>
    <script src="../../../r03.uzaicdn.com/content/hybrid/scripts/product/detail.js?v=20170921183141"></script>
    <script src="../../../r03.uzaicdn.com/content/hybrid/scripts/vstore/iswechat.js?v=20170921183141"></script>
    <script src="../../../r03.uzaicdn.com/content/hybrid/scripts/common/bookingcity.js?v=20170921183141"></script>
</body>

</html>
